*.raw filter=lfs diff=lfs merge=lfs -text
*.mzML filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.rda filter=lfs diff=lfs merge=lfs -text
*.RDataTmp* filter=lfs diff=lfs merge=lfs -text
